#login-form {
    width: 50%;
}

.vertical-alignment {
    min-height: 100%;
    min-height: 100vh;
    
}

@media screen and (max-width: 576px) {
    .register {
        text-align: left !important ;
    }
}