<div class="m-3">
  <label for="calendar">Pick a date: </label>
  <p-calendar
    (onClose)="generateDaysInMonth(pickMonthYear)"
    class="ms-3"
    id="calendar"
    [(ngModel)]="pickMonthYear"
    view="month"
    dateFormat="mm/yy"
  ></p-calendar>
</div>

<!-- <div class="container mt-3">
  <p-accordion>
    <p-accordionTab
      (click)="generateDayReports(employee)"
      *ngFor="let employee of employees"
      header="{{ employee.firstName + ' ' + employee.lastName }}"
    >
      <div class="scroll-table">
        <table class="table table-borderless">
          <thead>
            <tr class="text-center">
              <th scope="col">Date</th>
              <th scope="col">Sick Day</th>
              <th scope="col">Vacation</th>
              <th scope="col">Work Day</th>
              <th scope="col">Work Start</th>
              <th scope="col">Work End</th>
              <th scope="col">Break</th>
              <th scope="col">Save</th>
            </tr>
          </thead>
          <tbody *ngFor="let i of monthDays; let index = index">
            <tr class="text-center">
              <td>
                {{
                  index +
                    1 +
                    "." +
                    (pickMonthYear.getMonth() + 1) +
                    "." +
                    pickMonthYear.getFullYear()
                }}
              </td>
              <td>
                <p-checkbox
                  [trueValue]="true"
                  (click)="test(employee.id + '  ' + index)"
                ></p-checkbox>
              </td>
              <td>
                <p-checkbox
                  [(ngModel)]="isVacationChecked"
                  [binary]="true"
                ></p-checkbox>
              </td>
              <td>
                <p-checkbox
                  [(ngModel)]="isWorkDay"
                  [binary]="true"
                ></p-checkbox>
              </td>
              <td>
                <p-calendar
                  [(ngModel)]="startWork"
                  [timeOnly]="true"
                  inputId="time"
                  placeholder="Starting working hours"
                ></p-calendar>
              </td>
              <td>
                <p-calendar
                  [(ngModel)]="endWork"
                  [timeOnly]="true"
                  inputId="time"
                  placeholder="End working hours"
                ></p-calendar>
              </td>
              <td>
                <p-calendar
                  [(ngModel)]="break"
                  [timeOnly]="true"
                  inputId="time"
                  placeholder="Break"
                ></p-calendar>
              </td>
              <td>
                <button
                  pButton
                  class="p-button-save p-button-rounded"
                  icon="pi pi-trash"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </p-accordionTab>
  </p-accordion>
</div> -->

<div class="container">
  <p-tabView>
    <p-tabPanel header="Months">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mb-3">List of Employees</h2>
        </div>
        <div class="col-lg-6 export-excel">
          <button
            pButton
            (click)="exportExcelTable()"
            type="button"
            label="Export to Excel"
            icon="pi pi-file-excel"
            iconPos="left"
            class="p-button-success p-button-rounded"
          ></button>
        </div>
      </div>

      <p-accordion>
        <p-accordionTab
          *ngFor="let employee of employees"
          header="{{ employee.firstName + ' ' + employee.lastName }}"
        >
          <div class="scroll-table">
            <table id="excel-table" class="table table-borderless">
              <thead>
                <tr class="text-center" style="background-color: white">
                  <th scope="col">Date</th>
                  <th scope="col">Sick Day</th>
                  <th scope="col">Vacation</th>
                  <th scope="col">Work Day</th>
                  <th scope="col">Work Start</th>
                  <th scope="col">Work End</th>
                  <th scope="col">Break</th>
                  <th>
                    <button
                      pButton
                      (click)="saveDayReports(employee)"
                      icon="pi pi-save ms-1"
                    >
                      Save
                    </button>
                  </th>
                </tr>
              </thead>

              <tbody *ngFor="let i of interval; let index = index">
                <tr class="text-center">
                  <td>
                    {{ i | date: "dd.M.yyyy" }}
                    <div style="opacity: 0.5">
                      {{ "(" + getWeekDayName(i) + ")" }}
                    </div>
                  </td>
                  <td>
                    <p-checkbox
                      [(ngModel)]="employee.dayReports[index].sickDay"
                      [binary]="true"
                    >
                    </p-checkbox>
                  </td>
                  <td>
                    <p-checkbox
                      [(ngModel)]="employee.dayReports[index].vacation"
                      [binary]="true"
                    ></p-checkbox>
                  </td>
                  <td>
                    <p-checkbox
                      [disabled]="true"
                      [(ngModel)]="employee.dayReports[index].workDay"
                      [binary]="true"
                    ></p-checkbox>
                  </td>
                  <td>
                    <label for="timeonly"></label>
                    <p-calendar
                      [(ngModel)]="employee.dayReports[index].workStart"
                      [timeOnly]="true"
                      inputId="timeonly"
                    ></p-calendar>
                  </td>
                  <td>
                    <label for="timeonly"></label>
                    <p-calendar
                      [(ngModel)]="employee.dayReports[index].workEnd"
                      [timeOnly]="true"
                      inputId="timeonly"
                    ></p-calendar>
                  </td>
                  <td>
                    <label for="timeonly"></label>
                    <p-calendar
                      [(ngModel)]="employee.dayReports[index].breakStart"
                      [timeOnly]="true"
                      inputId="timeonly"
                    ></p-calendar>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>

    <p-tabPanel header="Weeks"> Content 2 </p-tabPanel>

    <p-tabPanel header="Days"> Content 3 </p-tabPanel>
  </p-tabView>
</div>
