.scroll-table {
  height: 300px;
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.pick-date {
  color: whitesmoke;
}

.pick-date-input {
  background-color: hsla(220, 44%, 12%, 0.979);
  padding: 1.3rem;
  border-radius: 10px;
}

.p-button.p-button-icon-only {
  width: 4rem;
}


p-checkbox {
  padding-top: 0.73rem;
}


.export-excel {
  text-align: right;
}