.scroll-table {
  height: 300px;
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
  background-color: #122047;
  z-index: 1;
}

.pick-date {
  color: whitesmoke;
}

.pick-date-input {
  background-color: hsla(220, 44%, 12%, 0.979);
  padding: 1.3rem;
  border-radius: 10px;
}

.p-button.p-button-icon-only {
  width: 4rem;
}

p-checkbox {
  padding-top: 0.73rem;
}

.accordion-button.collapsed {
  background: #0d1321;
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid #131581;
}

.accordion-button:not(.collapsed) {
  background-color: #0d1321;
}

.accordion-body {
  color: whitesmoke;
  background-color: #122047;
  border-bottom: 3px solid rgba(6, 6, 153, 0.5);
  border-radius: 10px;
}

#logs-table {
  color: whitesmoke;
  background-color: #0d1321;
  border-radius: 10px;
}

.accordion-item {
  border: none;
}

thead > tr > th {
  color: whitesmoke;
}

.date-data {
  color: whitesmoke;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.p-button-success {
  background-color: #1a936f;
  border: 1px solid #1a936f;
}

.p-button-success:hover {
  background-color: #1a936f !important;
  border: 1px solid #1a936f;
  
}
