#sidebar {
  background-color: #1f074d;
  list-style: none;

  height: 100vh;
  color: white;
}

li {
  padding: 1rem;
  cursor: pointer;
  
}



li:hover {
  font-size: 1.3rem;
  transition: 0.8s;
}

.display-user {
  position: sticky;
  top: 90vh;
}